
.extended_bg_full {
  background-image: linear-gradient(to right top, #8dedf6, #b1eeff, #d3efff, #ecf2ff, #f9f9f9);
}


.tooltip_wrapper {
  padding: 0 20px 0 20px;
  margin-left: 15px;
  border-radius: 10px;
  color: whitesmoke;
  background-image: linear-gradient(to right top, #f800f8, #eb79ff, #e5aeff, #ebd9ff, #ffffff);
  border: 2px solid ghostwhite;
}

.tooltip_inner {
  border-radius: 15px;
  padding: 15px;
  background-image: linear-gradient(to right top, #f47ef4, #eca5ff, #eac7ff, #f0e4ff, #ffffff);

}


.special_additional_activities {
  margin-right: 0;
  margin-left: calc(50% - 130px);
}

.offer_p {
  color: cornflowerblue;
  font-weight: 600;

}

.extended_avatar {
  width: 50px;
  height: 50px;
}

.extended_offer_activities_img {
  width: 200px;
  height: 200px;
}

.activity_wrapper {
  border-radius:15px;
  padding:15px;
  margin: 10px 0 10px 0;
  box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
}


.showMoreWrapper {
  margin: 10px;
  border-radius:15px;
}

.new_txt {
  position: absolute;
  top: 36px;
  background: indianred;
  font-size: 1.5em;
  padding: 10px;
  color: whitesmoke;
  border-radius: 10px;
  right: 0;
  transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
}