


* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: calc(12px + 0.4vw);

  h3 {
    font-size: calc(16px + 0.5vw);
    font-weight: 600;
  }

  h4 {
    font-size: calc(12px + 0.5vw);
    font-weight: 500;
  }

  .navbar span {
    font-size: calc(13px + 1vw) !important;
  }


}



.pricing_text span{
  font-size: calc(12px + 1vw)
}

.small_font span, .small_font a {
  font-size: 0.8em;
}

@media (min-width: 350px) {
  .small_font span, .small_font a {
    font-size: 1em;
  }
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.btn {

  a{
    line-height: 0;
  }

}

.container-fluid {
  width: 100% !important;
  padding-left:0 !important;
  padding-right: 0 !important;
}


.reja {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/locations/Reja/IMG_9875.jpg);
  background-size: cover;
  background-position: center;
  height:50vh;

}

.radzikowskiego {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/locations/Radzikowskiego/IMG_9893.jpg);
  background-size: cover;
  background-position: center;
  height:50vh;
}

@media (min-width: 576px) {
  .radzikowskiego, .reja {
    height: 100vh;
  }
}

.text-content {
  color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid whitesmoke;
  background: rgba(191, 143, 23, 0.5);
}




.homepage_btn {
  border-radius: 15px;
  text-transform: uppercase;
  background: whitesmoke;
  color: #bf8f17;
  margin: 10px;
  padding: 10px;

  &:hover {
    transform: scale(1.2);

  }

}
#staff_span  {
  font-size: 1em;
}

@media (min-width:481px) {
  #staff_span {
    font-size: 1.3em
  }
}


.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}


// Header


header {
  margin-left: 15px;
  margin-right: 15px;
}

.viewport_height {
  height: 95vh;
  width: 100vw;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



.navbar_color {
  background: #64BEE6;
}



.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}


a {
  color: black;
}

a:hover {
  text-decoration: none;
}



